---
import LanguageSwitcher from "./LanguageSwitcher.astro"
---

<header class="border-b p-4 flex justify-between">

<a href="/">Portal</a>

<nav class="flex gap-6">

<a href="/">Home</a>

<a href="/kontakt">Kontakt</a>

<LanguageSwitcher />

</nav>

</header>
